<h1>Edit Sub</h1>

<form action="<%= sub_url(@sub) %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <%= auth_token %>
    <label>
    Title
        <input type="text" name="sub[title]" value="<%= @sub.title %>">
    </label>

    <label>
    Description
        <input type="body" name="sub[description]" value="<%= @sub.description %>">
    </label>
    <input type="submit" value="Update Sub">
</form>