<h1>Add Sub</h1>

<form action="<%= subs_url %>" method="post">
    <%= auth_token %>
    <label>
    Title
        <input type="text" name="sub[title]" value="<%= @sub.title %>">
    </label>

    <label>
    Description
        <input type="body" name="sub[description]" value="<%= @sub.description %>">
    </label>
    <input type="submit" value="Add Sub">
</form>